.button{
    border: none;
    background: none;
    height: 40px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 0px 10px;
    width: 150px;
}